---
import type { GarantiePrestationSection } from "@/lib/api/mainPage";
const { garantie } = Astro.props;
const garantieData = garantie as GarantiePrestationSection


---
  <div class="">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-3xl my-12 lg:max-w-4xl">
        <dl class="grid grid-cols-2 md:grid-cols-4 gap-3">
          {Object.keys(garantieData).map((groupeKey) => {
            const groupe = garantieData[groupeKey];
            return (
            <div class="relative md:pl-16" itemscope itemtype="https://schema.org/Service">
              <dt class=" flex flex-col items-center gap-2 text-base font-semibold leading-7 text-gray-900">
                <div class="flex h-8 w-8 items-center justify-center rounded-lg ">
                  <div class="flow-root">
                    <img class="dark:hidden h-16 w-16" src={groupe.logoModeClair.sourceUrl} alt={groupe.logoModeClair.altText} />
                    <img class="hidden dark:flex h-16 w-16" src={groupe.logoModeSombre.sourceUrl} alt={groupe.logoModeSombre.altText} />
                  </div>
                </div>
              <h3 itemprop="name" class="font-gabriela text-sm text-primary">{groupe.titre}</h3>
              </dt>
              {/* <dd class="mt-2 text-base leading-7 text-gray-600" itemprop="description">{groupe.description}</dd> */}
            </div>
            );
          })}
          
        </dl>
      </div>
    </div>
  </div>
  


